$color-primary: #e14eca;
$color-secondary: #ba54f5;
$color-dark: #27293d;
$color-body: #1e1e2f;

$text-default: hsla(0,0%,100%,.8);
$text-dark: #9a9a9a;

$border-radius: 4px;
$box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);

$font-family:   -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
