<div class="main-nav">
  <div class="row align-items-center">
    <div class="col">
      <%= link_to pages_path, class: "main-nav-home" do %>
        <%= image_tag("logo.svg", class: "main-nav-logo") %>
        <span><strong>SPEED</strong>PAGES</span>
      <% end %>
    </div>
    <div class="col text-right">
      <%= render "shared/user_menu"%>
    </div>
  </div>
</div>
