<h1>Editing Block</h1>

<%= render 'form' %>

<%= link_to 'Show', [@block.column.section.page, @block.column.section, @block.column, @block] %> |
<%= link_to 'Back', page_section_column_blocks_path(@block.column.section.page, @block.column.section, @block.column, @block) %>
