<div class="main-list col flex-fill">
  <div class="main-list-scroller">
    <%= render "page_listing", pages: @pages %>
  </div>
  <%= link_to new_page_path, class: "action-add" do %>
    <i class="fa fa-plus"></i>
  <% end %>
</div>
<div class="main-content col flex-fill">
  <iframe src="https://www.inboundpixels.com" frameborder="0"></iframe>
</div>
