<div class="main-list col flex-fill">
  <div class="main-list-scroller">
    <%= render 'form' %>
  </div>
  <%= link_to pages_path, class: "action-close" do %>
    <i class="fa fa-close"></i>
  <% end %>
</div>
<div class="main-content col flex-fill">
  <iframe src="https://www.inboundpixels.com" frameborder="0"></iframe>
</div>
